.navbar{
    
    background: rgb(12,68,129);
    background: linear-gradient(90deg, rgba(12,68,129,1) 43%, rgba(6,5,23,1) 89%); 
}
#main{
 box-sizing: border-box;   
margin-top: 60px;
background: rgb(6,5,23);
background: linear-gradient(90deg, rgba(6,5,23,1) 45%, rgba(9,9,121,1) 100%); 
  
#titulo{
    background: rgb(17,99,192);
background: linear-gradient(90deg, rgba(17,99,192,1) 6%, rgba(0,1,6,1) 53%, rgba(12,68,129,1) 88%); }
.categoria{
    font-weight: bolder;
    color: rgb(12, 185, 128);
    text-align: center;
    width: 100%;
    background: rgb(12,68,129);
    background: linear-gradient(90deg, rgba(12,68,129,1) 43%, rgba(6,5,23,1) 89%); 
}
.styleGame{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%),0.25fr));
    grid-auto-rows: auto;
    
    justify-content: center;
    gap: 15px;
    padding: 50px;
    }
.cardJuego{
    background: rgb(12,68,129);
    background: linear-gradient(90deg, rgba(12,68,129,1) 43%, rgba(6,5,23,1) 89%); 
    
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
&__img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 300px;
object-fit: cover;
}
&__btnAgregar{
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    color: #0F63DE;
    font-weight: bolder;
    text-transform: uppercase;
    background: black;
    border: 1px solid #0F63DE;
}
&__titulo{
    color: #0F63DE;
    font-weight: bolder;
}
}


}

#verCarrito{
    width: 200px;
    display: flex;
    flex-flow: row-reverse wrap;

    height: 50px;
    margin-top: -3px;
    color: greenyellow ;
    font-weight: bold;
    font-size: 2rem;
    img{
        width: 50px;
        
        
    }
}
footer{
    background: rgb(12,68,129);
    background: linear-gradient(90deg, rgba(12,68,129,1) 43%, rgba(6,5,23,1) 89%); 
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    color: white;
}



